.friendcard {
  color: black;
  border-radius: 5px;
  width: 100vw;
  border-radius: 0 0 20px 20px;
}

.cardfriendstitle {
  width: 100vw;
}

.cffriendcard {
  background: white;
  width: 93%;
  margin-right: 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  position: relative;

  height: fit-content;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.friendsearchcard {
  margin-left: 13px;
}

.fa-check {
  color: green;
  font-size: 30px;
}

.pendingfriendcard {
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.pendingreq {
  background: white;
  width: 93%;
  margin-right: 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  position: relative;

  height: fit-content;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
