.friendcard {
  color: black;
  padding: 20px;
  border-radius: 5px;
}
h2, h3{
    color: black;
  }

h1 {
  color: black;
}



.friendcontainer {
  padding-bottom: 20px;
}

.allfriendstext {
  color: white;
}
