.profile-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 300px;
  margin: 20px auto 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 0 #dfdfdf;
  position: relative;

  .btn-info {
    margin: 16px 0;
  }

  .logout {
    width: -webkit-fill-available;
    height: fit-content;
    text-align: right;
    margin-right: 8px;
  }
}

.trail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.trail-heading, .collab-heading {
  background: white;
  display:flex;
  align-items: center;
  width: -webkit-fill-available;
  border-bottom: 2px inset #dfdfdf;
  margin-bottom: 16px;
  padding-left: 10px;

  .collab-count {
    flex-basis: 80%;
  }

  .trail-count {
    flex-basis: 60%;
  }

  .trail-count, .collab-count {
    text-align: center;

    border-right: 2px inset #dfdfdf;

    h2 {
      text-align: left;
      margin: 8px 0px;
      padding: 0 8px;
    }
  }

  .trail-options, .collab-options {
    text-align: center;
    border-right: 2px inset #dfdfdf;
    width: 80px;
    padding: 15px 0;
    flex-basis: 20%;
  }
}

.trail-card {
  background: white;
  display: flex;
  justify-content: space-around;
  // width: -webkit-fill-available;
  width: 95%;
  border-radius: 6px;
  border-bottom: 2px inset #dfdfdf;
  border-left: 2px solid #dfdfdf;
  box-shadow: 1px 1px 0 #dfdfdf;
  margin-bottom: 16px;
  opacity: 0.95;


  a {
    color: inherit;
    text-decoration: none;
    width: 250px;
  }

  .trail-name, .info-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    box-shadow: 1px 1px 0 #dfdfdf;
    margin: 14px 0;
  }

  .trail-name {
    background: rgb(0,39,255);
    background: linear-gradient(90deg, rgba(0,39,255,1) 0%, rgba(13,13,106,1) 10%, rgba(17,17,111,1) 90%, rgba(0,0,249,1) 100%);
    //background: linear-gradient(to bottom right, #99ffcc 41%, #66ffff 84%);
    width: auto;
    padding: 8px 22px;

    h5 {
      color: white;
      margin-bottom: 4px;
    }
  }

  .info-link {
    width: 75px;
    height: 47px;
    padding: 2px 8px;

    h5 {
      background: 0;
      margin-bottom: 2px;
    }
  }

  .trail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    padding: 0 4px 4px;

    p {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 0;
      letter-spacing: .5px;
    }
  }

  .date-card {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #dfdfdf;
    width: fit-content;
    padding: 2px 4px;
  }

  .trail-starter {
    text-align: center;

    img {
      margin-bottom: 8px;
    }
  }
}

.login-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 15%, rgba(1,56,93,1) 26%, rgba(0,212,255,1) 40%, rgba(7,7,61,1) 47%);
}

#login-buttons {
  width: 280px;

  .btn-info {
    font-family: 'Concert One';
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 0 darkblue;
    box-shadow: 1px 1px 0 darkblue;
    padding-bottom: 20px;
    padding-top: 10px;
    color: cyan;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(22,31,145,1) 0%, rgba(7,7,61,1) 92%, rgba(0,152,255,1) 100%);
  }
}

