.profile-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 300px;
  margin: 20px auto 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 0 #dfdfdf;
  position: relative;

  .btn-info {
    box-shadow: 1px 1px 0 #dfdfdf;
    margin: 8px 0;
  }

  .logout {
    width: -webkit-fill-available;
    height: fit-content;
    text-align: right;
    margin-right: 8px;
  }
}

.trail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.trail-heading, .collab-heading {
  background: white;
  display:flex;
  align-items: center;
  width: -webkit-fill-available;
  border-bottom: 2px inset #dfdfdf;
  margin-bottom: 8px;
  padding-left: 10px;

  .collab-count {
    flex-basis: 80%;
  }

  .trail-count {
    flex-basis: 60%;
  }

  .trail-count, .collab-count {
    text-align: center;

    border-right: 2px inset #dfdfdf;

    h2 {
      text-align: left;
      margin: 8px 0px;
      padding: 0 8px;
    }
  }

  .trail-options, .collab-options {
    text-align: center;
    border-right: 2px inset #dfdfdf;
    width: 80px;
    padding: 15px 0;
    flex-basis: 20%;
  }
}

.trail-card {
  background: white;
  display: flex;
  justify-content: space-around;
  width: -webkit-fill-available;
  border-bottom: 2px inset #dfdfdf;
  box-shadow: 1px 1px 0 #dfdfdf;
  margin-bottom: 8px;

  a {
    color: inherit;
    text-decoration: none;
    width: 250px;
  }

  .trail-name, .info-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    box-shadow: 1px 1px 0 #dfdfdf;
    margin: 8px 0;
  }

  .trail-name {
    width: auto;
    padding: 4px 10px;
    background: linear-gradient(to bottom right, #99ffcc 41%, #66ffff 84%);

    h5 {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .info-link {
    width: 75px;
    padding: 2px 8px;

    h5 {
      margin-bottom: 2px;
    }
  }

  .trail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 0 4px 4px;

    h6 {
      margin: 0;
    }
  }

  .date-card {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #dfdfdf;
    width: fit-content;
    padding: 2px 4px;
  }

  .trail-starter {
    text-align: center;

    h6 {
      margin-bottom: 0;
    }

    img {
      margin-bottom: 8px;
    }
  }
}

.login-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#login-buttons {
  width: 280px;

  .btn-info {
    background: white;
    font-family: 'Concert One', cursive;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 0 #dfdfdf;
    box-shadow: 1px 1px 0 #dfdfdf;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

