.card {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

    p {
    font-size: .8rem;
  }
}

.activity-horizontal-container::-webkit-scrollbar {
  display: none;
}

.activity-horizontal-container{
  flex-wrap: nowrap;
  overflow: auto;
  width: 92%;
  margin: 0 auto;
}

.fa-times-circle {
	color: red;
	font-size: 30px;
	position: absolute;
	top: 3px;
	right: 3px;
	opacity: 0.7;
}

.fa-calendar-day {
	color: #FD7E14;
	font-size: 40px
}

.datecard, .list-card {
  background: white;
  width: 93%;
  margin-right: 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  position: relative;
}

.datecard {
  height: 300px;
}

.list-card {
  height: fit-content;
  min-height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110px;
  }

  .list-delete {
    text-align: right;
    margin: 0 4px 4px 0;

    .btn {
      // background: linear-gradient(to bottom right, #99ffcc 41%, #66ffff 84%);
      background: rgb(0,39,255);
      background: linear-gradient(90deg, rgba(0,39,255,1) 0%, rgba(13,13,106,1) 10%, rgba(17,17,111,1) 90%, rgba(0,0,249,1) 100%);
      border-radius: 6px;
      color: white;
    }
  }
}

.modal-btn {
  height: 44px;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#activity-modal-content {
  background-color: #F5F5F5;
  border-radius: 8px;
  margin: 5px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

#activity-modal-title {
  font-size: 1.5rem;
}

#activity-modal-content {
  min-width: 90vw;
}

.header {
  border-radius: 0 0 25px 25px;
}

.card-title {
  color: #4facfe;
}

.innercard {
  box-shadow: none;
}