<div class="activity-horizontal-container d-flex align-items-center mb-3 px-2" style="flex-wrap: nowrap; overflow: auto;">
    <% if user.pending_friends.empty? == false %>
      <h3 class="text-center">Pending Friends <i class="fas fa-arrow-right"></i></h3>
    <% end %>
      <% pending_adds.each do |friendship| %>
          <div class = "pendingreq d-flex text-center justify-content-center align-items-center">
            <p>You have added <strong><%= friendship.receiver.name %></strong> as a friend!</p>
            <%= friendship.receiver.email %>
            <div class="btn btn-info d-flex justify-content-between align-items-center">
            <%= link_to "Cancel Request", user_friendship_path(user,friendship), method: :delete, class: "", data: { confirm: "Are you sure?" } %>
            </div>
          </div>
      <% end %>
</div>
