<div class="login-elements d-flex align-items-center">
    <div class="animated bounceIn"><%= image_tag "newlogo.png", height: 270, width: 280, crop: :fill%></div>
<% if user_signed_in? %>
    <div id="login-buttons" class="m-0 p-0 d-flex flex-column justify-content-center align-items-center text-center animated fadeIn delay-1s">
      <%= link_to "Let's Start!", index_path, class: "btn btn-lg btn-block btn-info text-decoration-none" %>
    </div>
<% else %>
    <div id="login-buttons" class="m-0 p-0 d-flex flex-column justify-content-center align-items-center text-center animated fadeIn delay-1s">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-block btn-info text-decoration-none" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-block btn-info text-decoration-none" %>
    </div>
  </div>
<% end %>
