<div class="login-elements">
    <div class="animated bounceIn"><%= image_tag "trailexport.png", height: 220, width: 280, crop: :fill%></div>
<% if user_signed_in? %>
    <div id="login-buttons" class="m-2 p-2 d-flex flex-column justify-content-center align-items-center text-center animated fadeIn delay-1s">
      <%= link_to "Let's Start!", home_path, class: "btn btn-lg btn-block btn-info text-decoration-none" %>
    </div>
<% else %>
    <div id="login-buttons" class="m-2 p-2 d-flex flex-column justify-content-center align-items-center text-center animated fadeIn delay-1s">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-block btn-info text-decoration-none" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-block btn-info text-decoration-none" %>
    </div>
  </div>
<% end %>
