.cardone {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 150px;
  height: 80px;
  border-radius: 5px 5px 0px 0px;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.fa-home {
  font-size: 30px;
  color: black;
}

.fa-map-marked-alt {
  font-size: 25px;
  color: #9cc4e9;
}

.fa-users {
  font-size: 25px;
  color: #9cc4e9;
}

.modal-backdrop.show {
  opacity: 0.5;
  display: none;
}

.fa-arrow-circle-left {
  font-size: 36px;
  color: #9cc4e9;
}

#navihome {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 auto;
  width: 150px;
  height: 80px;
  border-radius: 5px 5px 0px 0px;
}
