.card-headers, .card-items {
  overflow: hidden;
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 12px auto;
  position: relative;

  .list-add {
    width: 50px;
    height: 50px;
    background: #9cc4e9;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 15px;
  }

  .fa-clipboard-check {
    position: absolute;
    top: 5px;
    right: 11px;
  }

  .fa-plus {
    position: absolute;
    top: -3px;
    right: -4px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.card-headers {
  align-items: center;
  width: 100%;
}

.card-items {
  flex-direction: column;
  width: 97%;
  border-radius: 6px;
  border-bottom: 2px inset #dfdfdf;
  border-left: 2px solid #dfdfdf;
}

.card-item {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  padding: 8px 12px;

  h2 {
    font-size: 22px;
    padding: 4px;
  }
}

.card-item.no-flex {
  display: block;
  text-align: right;
  margin: 4px 0;
}

.delegate {
  .form-check {
    margin-right: 8px;
  }
}

.list-item-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  height: 26px;
}

.delegation-box {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;

  >a {
    background: linear-gradient(to bottom right, #99ffcc 41%, #66ffff 84%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow:
      0 0 0 3px hsl(0, 0%, 80%) inset,
      0 0 0 3px hsl(0, 0%, 90%);
    margin-top: 2px;
    position: relative;

    i {
      position: absolute;
      top: 11px;
      left: 7px;
      color: black;
    }
  }
}

.delegate {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin-right: 4px;
  padding: 2px 2px 0 2px;
}

.checked {
  opacity: 0.9;
}

.delegate-checked {
  background: linear-gradient(to bottom right, #99ffcc 41%, #66ffff 84%);
}
