.trail-navbar-offset {
  padding-bottom: 50px;
}

.list-navbar-offset {
  padding-bottom: 90px;
}

.form-navbar-offset {
  padding-bottom: 100px;
}

.list-item-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.custom-item-container {
  position: relative;

  .deletable {
    border-radius: 50%;
    font-size: 30px;
    height: 20px;
    width: 20px;
    opacity: 0.8;
    font-weight: lighter;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
      text-decoration: none;
      opacity: 1;
    }
  }

  &.active {
    background: #3d7ef1;
    color: white;
    opacity: 1;
  }
}

.custom-container {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .custom-field {
    flex-basis: 100%;
  }

  .custom-btn {
    flex-basis: 35%;
    margin-left: 8px;
  }
}
