.header {
  background: white;
  width: 100%;
  padding: 8px 16px;

  h3 {
    font-family: 'Concert One', cursive;
    color: #666666;
  }

  .header-link {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    position: absolute;
    bottom: 0;
    right: 16px;
  }
}


.header-detail {
  display: flex;
  justify-content: space-between;

  .header-title {
    margin-right: 8px;
  }

  .header-name {
    width: 260px;
  }
}
