.header {
  background: white;
  width: 100%;
  padding: 8px 16px;

  .header-link {
    display: flex;
    justify-content: space-between;
  }
}

.header-detail {
  display: flex;
  justify-content: space-between;

  .header-title {
    margin-right: 8px;
  }

  .header-name {
    width: 260px;
  }
}

.header-date {
  p {
    margin-bottom: 6px;
  }
}
