.card-product {
  overflow: hidden;
  background: white;
  height: 70px;
  box-shadow: 0 0 10px #F5F5F5;
  display: flex;
  align-items: center;
}

.card-product .card-product-infos {
  padding: 16px;
}

h4 {
  color: #4facfe;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.badge {
  font-size: 20px;
  width: 43px;
}

#editdelete {
  font-size: 24px;
  font-weight: bold;
  border-radius: 50px;
}
