<div class="d-flex flex-column justify-content-center align-items-center text-center pt-2">
  <div class="loca d-flex justify-content-center align-items-center animated fadeIn delay-1s">
    <h3>LOCATIONS <i class="fas fa-location-arrow"></i></h3>
  </div>
  <div class="card animated zoomInDown" id="map" style="width: 99%;  height: 710px; width: 100vw;"  data-markers="<%= @markers.to_json %>"s data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<%= render 'shared/bottomnav' %>

<style>
  .mapboxgl-ctrl-top-right {
      width: 94%;
  }

</style>
