
<div class="container d-flex flex-column justify-content-center align-items-center text-center m-0 p-0  ">

  <div class="loca d-flex justify-content-center align-items-center animated fadeIn delay-1s">
    <h3>LOCATIONS <i class="fas fa-location-arrow"></i></h3>
  </div>
  <div class="card animated zoomInDown" id="map" style="width: 99%;  height: 695px;"  data-markers="<%= @markers.to_json %>"s data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>

<nav class="navbar fixed-bottom navbar-light bg-light d-flex justify-content-around align-items-center animated bounceIn">
    <button type="button" id="locations" class="btn btn-outline-dark">
      <%= link_to "", trail_path(params[:trail_id]), class: "fas fa-arrow-circle-left" %>
    </button>
    <button type="button" id="home" class="btn btn-outline-dark">
      <%= link_to "", root_path, class: "fas fa-home" %>
    </button>
    <button type="button" id="friends" class="btn btn-outline-dark">
      <i class="fas fa-users"></i>
    </button>
</nav>



<style>
  .card {
    border-radius: 8px;
    box-shadow: 10px 10px 10px #F5F5F5;
  }

  .loca {
    background: linear-gradient(to bottom right, #99ffcc 41%, #66ffff 84%);
    min-width: 100vw;
    height: 60px;
    color: black;
    border-radius: 5px;
  }

  .navbar {
    display: none;
  }
</style>
